doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title お探しのページは見つかりません
  body
    h1 お探しのページは見つかりません。
    ul
      li
        a(href="/enquetes/yaki-shabu") 焼き肉 or しゃぶしゃぶ
      li
        a(href="/enquetes/rice-bread") ごはん or パン
      li
        a(href="/enquetes/sushi-pizza") 寿司 or ピザ